@{
    ViewData["Title"] = "Sobre";
}
<h2>Projeto PIM</h2>
<h3>Grupo PIM</h3>

<p>Arielli, Beatriz, Fábio, Gabriel, Luana e Mateus</p>

<address>
    <strong>Mais informações: </strong> <a href="https://github.com/Tocaccelli/Pim-Terceiro-Semestre-">Repositório Projeto PIM - LOCAL FARM</a>
</address>