@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    São José dos Campos<br />
    São Paulo - Brasil<br />
    <abbr title="Contato">P:</abbr>
    99123-1234
</address>
<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">suporte@exemplo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@exemplo.com</a>
</address>
